// -----------------------------------------------------------------------------
// This file contains styles that are specific to the pricing page. 
// -----------------------------------------------------------------------------

.pricing {
    padding-top: 2rem;
    padding-bottom: 9.5rem;
}


.comparision-plans {
    gap: 4.8rem;
    margin-top: 4.8rem;

    @include respond-to(medium) {
        gap: 3rem;
    }

    @include respond-to(large) {
        margin-top: 7rem;
    }
}

.plan-wrapper {

    justify-items: center;

    @include respond-to(large) {
        justify-items: start;
    }
}

.plan-price {
    font-size: 5.6rem;
    font-weight: var(--font-regular);
    font-family: var(--ff-primary);
    line-height: 7.2rem;
    letter-spacing: -0.43px;
    margin-top: 0.8rem;


    @include respond-to(medium) {
        font-size: 4.8rem;
        margin-top: 1.9rem;
        letter-spacing: -0.37px;
    }

    @include respond-to(large) {
        font-size: 5.6rem;
        margin-top: 0.8rem;
        letter-spacing: -0.43px;
    }
}

.plan-description {
    margin-top: 1.3rem;

    @include respond-to(large) {
        margin-top: 1.6rem;
    }
}


.plan-list {
    border-top: 1px solid hsla(208, 33%, 32%, 25%);
    border-bottom: 1px solid hsla(208, 33%, 32%, 25%);
    padding-block: 2.5rem;
    display: grid;
    gap: 1rem;
    justify-self: stretch;
    justify-content: center;

    @include respond-to(large) {
        justify-content: start;

    }

    margin-block: 2.4rem;


    li {
        display: flex;
        align-items: center;
        gap: 1.6rem;

    }

}

.checkmark-box {
    height: 0.8rem;
    width: 1.2rem;
}

.unchecked {
    img {
        visibility: hidden;
    }

    opacity: 25%;
}